[Desktop Entry]
Name=AwesomeWM
Comment=Highly configurable framework window manager
Exec=startx awesome
TryExec=awesome
Type=Application
Icon=/usr/share/pixmaps/awesome.xpm
Keywords=Window manager
