[Desktop Entry]
Name=AwesomeWM
Comment=Highly configurable framework window manager
Exec=/etc/X11/Xsession
TryExec=awesome
Type=Application
Icon=/usr/share/pixmaps/awesome.xpm
Keywords=Window manager
