[Desktop Entry]
Name=Qtile
Comment=Qtile Session
Type=Application
Keywords=wm;tiling
Exec=/etc/X11/Xsession qtile
TryExec=/home/$USER/.local/bin/qtile start
