[Desktop Entry]
Name=XMonad
Comment=Lightweight tiling window manager
Exec=/etc/X11/Xsession xmonad
TryExec=xmonad-session
Icon=xmonad.png
Type=XSession
