configuration { 
    show-icons: true; 
    font: "FiraCode Nerd Font 12";
    line-margin: 10;
    modi: "window,drun,run,combi";
    combi-modi: "window,drun,run";
    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
}
@theme "nord"
